services:
  - type: web
    name: mani-gadgets-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        fromService:
          type: web
          name: mani-gadgets-backend
          property: port
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false